*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.menu{
    margin-top: 20%;
    margin-left: 40%;
    margin-right: 20%;
    border: solid 2px;
    border-radius: 8px 2px;
    padding: 10px 10px;
    width: 20%;
    float: left;
    background: #bc949188;
    border: #763434 solid;
}

h1{
    color: rgb(0, 0, 0);  
    
}
