body{
    background-image: url(https://i.pinimg.com/736x/90/e5/51/90e551fc6e8ebdf7d82b6a5c7ed1dff2.jpg);
}
.botonm{
    display: inline-block;
    padding: 2px 5px;
    color: #fff;
    transition: 0.2s;
    text-decoration: none;
    letter-spacing: 4px;
    background: #763434;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.botonm:hover{
    background: #aa3a3a;
    box-shadow: 0 0 10px #aa3a3a, 0 0 40px #aa3a3a,
    0 0 80px  #aa3a3a;
}
.mesesa{
    border-radius: 8px 2px;
    border: #763434 solid;
    background: #fcdddb;
}
.mesess{
    border: solid 2px;
    border-radius: 8px 2px;
    padding: 10px 10px;
    width: 20%;
    float: left;
    margin-top: 10%;
    margin-left: 15%;
    margin-right: 10%;
    background: #bc949188;
}
.objetos{
    margin-top: 9%;
    margin-left: 9%;
    margin-right: 9%;
    border: solid 2px;
    border-radius: 8px 2px;
    padding: 10px 10px;
    width: 20%;
    float: left;
    background: #bc949188;
}
.objeto{
    border-radius: 8px 2px;
    border: #763434 solid;
    background: #fcdddb; 
}
h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #000000;
}
textarea{
    font-family:Georgia, 'Times New Roman', Times, serif;
}