body{
    background-image: url(https://static.vecteezy.com/system/resources/previews/001/973/070/non_2x/dark-purple-backdrop-with-clouds-vector.jpg)
}
.general{
    width: 96%;
    height: 620px;
    background-color: rgba(223, 211, 235, 0.467);
    border: 5px rgb(0, 0, 0) ;
    margin-top: 4%;
    margin-left: 2%;
    margin-right: 3%;
    font-family: fantasy;
    border-radius: 1% 1%;
}
.hora{  
    margin-left: 2%;
    width: 30%;
    height: 43%;
    background-color: rgba(223, 211, 235, 0.467);
    border: 2px solid rgb(0, 0, 0) ;
    float: left;
    border-radius: 5% 1%;
} 
.botondiv1{
    background: #633172;
    width: 117px;
    height: 25px;
    margin: auto;
}
.boton{
    display: inline-block;
    padding: 2px 5px;
    color: #fff;
    transition: 0.2s;
    text-decoration: none;
    letter-spacing: 4px;
}
.boton:hover{
    background: #a945c7;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7,
    0 0 80px  #a945c7;
}
.baal{
    margin-left: 0.5%;
    width: 30%;
    height: 43%;
    background-color: rgba(223, 211, 235, 0.467);
    border: 2px solid rgb(0, 0, 0) ;
    float: left;
    border-radius: 5% 1%;
}
.botondiv2{
    background: #633172;
    width: 117px;
    height: 25px;
    margin: auto;
}
.boton2{
    display: inline-block;
    padding: 2px 5px;
    color: #fff;
    transition: 0.2s;
    text-decoration: none;
    letter-spacing: 4px;
}
.boton2:hover{
    background: #a945c7;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7,
    0 0 80px  #a945c7;
}
.raiz{
    margin-left: 0.5%;
    margin-right: 0.5%;
    width: 30%;
    height: 43%;;
    background-color: rgba(223, 211, 235, 0.467);
    border: 2px solid rgb(0, 0, 0) ;
    float: left;
    border-radius: 5% 1%;
}
.total{
    margin:10px;
    height: 20px;
    width: 180px;
    margin-left: 1.5%;
    background-color: #fff;
}
.botondiv3{
    background: #633172;
    width: 117px;
    height: 25px;
    margin: auto;
}
.boton3{
    display: inline-block;
    padding: 2px 5px;
    color: #fff;
    transition: 0.2s;
    text-decoration: none;
    letter-spacing: 4px;
}
.boton3:hover{
    background: #a945c7;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7,
    0 0 80px  #a945c7;
}
.cadetex{
    margin-top: 0.5%;
    margin-left: 2%;
    width: 30%;
    height: 43%;;
    background-color: rgba(223, 211, 235, 0.467);
    border: 2px solid rgb(0, 0, 0) ;
    float: left;
    border-radius: 5% 1%;
}
.botondiv6{
    background: #633172;
    width: 117px;
    height: 25px;
    margin:auto;
}
.boton6{
    display: inline-block;
    padding: 2px 5px;
    color: #fff;
    transition: 0.2s;
    text-decoration: none;
    letter-spacing: 4px;
}
.boton6:hover{
    background: #a945c7;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7,
    0 0 80px  #a945c7;
}
.vernave{
    margin-top: 0.5%;
    margin-left: 0.5%;
    width: 30%;
    height: 43%;;
    background-color: rgba(223, 211, 235, 0.467);
    border: 2px solid rgb(0, 0, 0) ;
    float: left;
    border-radius: 5% 1%;
}
.ver2{
    resize: none;
    background-color: rgba(242, 184, 227, 0.45);
}
.ancalpan{
    margin-top: 0.5%;
    margin-left: 0.5%;
    margin-right: 2%;
    width: 30%;
    height: 43%;;
    background-color: rgba(223, 211, 235, 0.467);
    border: 2px solid rgb(0, 0, 0) ;;
    float: left;
    border-radius: 5% 1%;
}
.botondiv4{
    background: #633172;
    width: 117px;
    height: 25px;
    margin:auto;
}
.boton4{
    display: inline-block;
    padding: 2px 5px;
    color: #fff;
    transition: 0.2s;
    text-decoration: none;
    letter-spacing: 4px;
}
.boton4:hover{
    background: #a945c7;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7,
    0 0 80px  #a945c7;
}
.botondiv5{
    background: #633172;
    width: 117px;
    height: 25px;
    margin: 560px;
}
.boton5{
    display: inline-block;
    padding: 2px 5px;
    color: #fff;
    transition: 0.2s;
    text-decoration: none;
    letter-spacing: 4px;
}
.boton5:hover{
    background: #a945c7;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7,
    0 0 80px  #a945c7;
}

