/*--Logo--*/
.logop{
    background-color:  #b62025;
    margin-top: 5px;
    height: 30px; 

}
.logotipo{
    background-color: #94a756;
    padding: 1px;
    height: 60px;
       

}
.nombre{
    float: right;
    color: #fff;
    user-select: none;
    margin-top: 5px;
    margin-right: 20%;
    font-family:'Gill Sans';
}
/*--Fin de logo--*/
/*-----------------------------------------------------------*/
/*--encabezado--*/
.encabezado{
    margin-top: 1%;
    border: solid 1px;
    float:left;
    width:30%;
    height: 20px;
    margin-left: 20%;
    background-color: #b62025;
    color: #fff;
    border: solid 1px black;
}
.FAlTAS{
    margin-left: 10%;
    margin-top: 1%;
    width:3.5%;
    height: 20px;
    border: solid 1px;
    float:left;
    background-color: #b62025;
    color: #fff;
    border: solid 1px black;
}
/*-- fin del encabezado--*/
/*-----------------------------------------------------------*/
/*--Lista de estudiantes y botones--*/
.botones{
    margin-top: 1%;
    margin-left: 10%;
    border: solid 1px;
    float:left;
    padding-top: 1.5%;
    padding-bottom: 0.7%;

}
.general{
    margin-left: 20%;
    margin-top: 1%;
    float: left;
    width:30%;
    border: solid 1px;
}
/*-- fin de lista de estudiantes y botones--*/
/*-----------------------------------------------------------*/
/*--Boton de regreso--*/
.boton{
    float:right;
    padding: 2px 5px;
    color: #fff;
    transition: 0.2s;
    text-decoration: none;
    letter-spacing: 4px;
    background: #763434;
    font-family:Georgia, 'Times New Roman', Times, serif
}
.boton:hover{
    background: #aa3a3a;
    box-shadow: 0 0 10px #aa3a3a, 0 0 40px #aa3a3a,
    0 0 80px #aa3a3a;
}
/*-- fin  Boton de regreso--*/