body{
    background-image: url(https://static.vecteezy.com/system/resources/previews/002/254/537/large_2x/light-mint-pastel-green-watercolor-texture-background-free-photo.jpg);
}
.general{
    width: 100%;
    max-width: 800px;
    margin: auto;
    margin-top: 90px;
    margin-left: 20%;
    margin-right: 30%;
}
.h2{
    font-weight: 480;
}
.inicio{
    margin:auto;
    width: 100%;
    padding: 10px 10px;
    justify-content: center;
    background-color:rgba(188, 205, 222, 0.623);
    border-radius: 20px;
    border: solid 3px #346976;
}
.inicio_f{
    justify-content: center;
    margin:auto;
    width: 70%;
    padding: 20px 20px;
    background: rgb(180, 222, 187);
    border-radius: 20px;
    border: #2a602b solid 3px;
}
.boton1{
    display: inline-block;
    padding: 2px 5px;
    color: #fff;
    transition: 0.2s;
    text-decoration: none;
    letter-spacing: 4px;
    background: #346976;
}
.boton1:hover{
    background: #3a7daa;
    box-shadow: 0 0 10px #3a7daa, 0 0 40px #3a7daa,
    0 0 80px  #3a7daa;
}
.boton2{
    display: inline-block;
    padding: 2px 5px;
    color: #fff;
    transition: 0.2s;
    text-decoration: none;
    letter-spacing: 4px;
    background: #346976;
}
.boton2:hover{
    background: #3a7daa;
    box-shadow: 0 0 10px #3a7daa, 0 0 40px #3a7daa,
    0 0 80px  #3a7daa;
}
.boton3{
    display: inline-block;
    padding: 2px 5px;
    color: #fff;
    transition: 0.2s;
    text-decoration: none;
    letter-spacing: 4px;
    background: #2a602b;
}
.boton3:hover{
    background: #5caa3a;
    box-shadow: 0 0 10px #5caa3a, 0 0 40px #5caa3a,
    0 0 80px  #5caa3a;
}