body{
    background-color: rgb(255, 255, 255);
}
/*Logos y mas*/
.logop{
    background-color:  #b62025;
    margin-top: 5px;
    height: 30px; 

}
.logotipo{
    background-color: #94a756;
    padding: 1px 10px;
    height: 60px;   

}
.facci{
    float: right;
}
.nombre{
    float: right;
    color: #fff;
    user-select: none;
    margin-top: 5px;
    margin-right: 20%;
    font-family:'Gill Sans';
}
/*fin de logos y mas*/
/*anuncios*/
.anuncio{
    margin-top: 5px;
    border: solid 1px;
    float: right;
    height: 560px; 
    width:30%;
}
.anuncio2{
    font-size: 20px;
    font-family:'Gill Sans';
    color: #fff;
    margin-top: 5px;
    margin-right: 2px;
    margin-left: 2px;
    background-color:  #b62025;
}
textarea{
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 50px;
    border: solid 1px;
    font-family:'Gill Sans';
}
/*fin de anuncios*/
/*botones*/
.boton{
    margin-right: 3%;
    margin-left: 0.5%;
    margin-top: 1%;
    width: 30%;
    height: 43%;
    float:right;
    border-radius: 5% 1%;
}
.asis{
    display: inline-block;
    padding: 2px 5px;
    color: #fff;
    transition: 0.2s;
    text-decoration: none;
    letter-spacing: 4px;
    background: #763434;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.asis:hover{
    background: #aa3a3a;
    box-shadow: 0 0 10px #aa3a3a, 0 0 40px #aa3a3a,
    0 0 80px #aa3a3a;
}
.agen{
    display: inline-block;
    padding: 2px 5px;
    color: #fff;
    transition: 0.2s;
    text-decoration: none;
    letter-spacing: 4px;
    background: #763434;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.agen:hover{
    background: #aa3a3a;
    box-shadow: 0 0 10px #aa3a3a, 0 0 40px #aa3a3a,
    0 0 80px #aa3a3a;
}
/*fin de botones*/
/*Calendario*/
*, *:before, *:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --color-bg-calendar: #94a756;
    --color-cell: #0c0303;
    --color-cell-disabled: #3a4246;
}
.root {
    min-height: 70vh;
    padding: 0 15px;
    display: flex;
    align-items: center;
}

.calendar {
    border: solid 1px;
    padding: 20px 10px;
    background-color: var(--color-bg-calendar);
    border-radius: 3px;
    width: 100%;
    max-width: 300px;
    font-family:'Gill Sans';
}

.calendar__header {
    color: rgb(14, 13, 13);
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.calendar .control {
    color: rgb(19, 18, 18);
    font-weight: bold;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0 5px;
}

.grid__header, .grid__body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.grid__header {
    color: rgb(10, 10, 10);
    margin-bottom: 20px;
}

.grid__body {
    grid-auto-rows: 40px;
    color: var(--color-cell);
}

.grid__cell {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid__cell--gd {
    cursor: pointer;
}

.grid__cell--selected {
    color: var(--color-bg-calendar);
    background-color: rgb(119, 106, 106);
    border-radius: 50%;
    border: 2px solid rgb(119, 106, 106);
    box-shadow: 0 0 0 2px var(--color-bg-calendar) inset;
}

.grid__cell--disabled {
    color: var(--color-cell-disabled);
    cursor: not-allowed;
}
/*fin del calendario*/